<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ArkCharts-新用户注册</title>
    <script th:src="@{/static/js/echarts.min.js}"></script>
    <script th:src="@{/static/js/jquery-1.11.0.min.js}"></script>
    <link th:href="@{/static/css/public.css}" rel="stylesheet">
    <link th:href="@{/static/css/login.css}" rel="stylesheet">
</head>
<body>
<div id="logo">
    <img th:src="@{/static/img/logo.png}" width="200px" height="50px">
</div>

<div id="mainContent"></div>
<div id="loginDiv"></div>
<div id="loginDivUp">
    <div id="topText">用户注册 ArkCharts</div>
    <hr width="80%">
    <div id="loginInner">
        <form method="post" action="/ArkCharts/user/register">
            <p>账号：</p>
            <input type="text" name="account" th:value="${account}">
            <p>密码：</p>
            <input type="password" name="password" th:value="${password}">
            <p>名称：</p>
            <input type="text" name="userName" th:value="${userName}">
            <p style="height: 20px"></p>
            <button class="btn" type="submit">注册</button>
            <button class="btn" type="reset" style="margin-left: 100px">重置</button>
        </form>
    </div>
    <div id="errorDiv">
        <p th:text="${errorMsg}"/>
    </div>
</div>

<script th:src="@{/static/js/login.js}"></script>
</body>
</html>